.cmae {
	margin:0 auto;
	width:50%;
	padding:2%;
	background: #0fe;
	
}

.cfilho {
	margin: 0  auto;
	width: 96%;
	padding: 2%;
	background:#eee;
}

.online {
	color:#006400;
	font-size: 30px;
}

input {
	padding: 5px;
	width: 89.5%;
}

button {
	padding: 5px;
}

iframe{
	margin: 0  auto;
	width:100%;
	padding:0 auto; 
}